main {
  background: #f2f2f2;
  min-height: 1287px;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-description {
  width: 790px;
  text-align: center;
}
h3 {
  margin-bottom: 20px;
}
.map-slider {
  margin-top: 54px;
}
.slider {
  display: flex;
  align-items: center;
}
.map-pets-slider {
  display: flex;
  width: 1256px;
  height: 157px;
}
/* circle */
.map-pets-item {
  width: 157px;
  height: 157px;
}
.img-wrapper {
  height: 157px;
  width: 157px;
  visibility: hidden;
  pointer-events: none;
}

.big-circle {
  width: 157px;
  height: 157px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  animation: 1.7s linear infinite reverse running rotate;
  pointer-events: none;
}
.circle-white {
  width: 154px;
  height: 154px;
  background-color: white;
  position: relative;
  border-radius: 50%;
  top: 2px;
  left: 1px;
  pointer-events: none;
}
.border-img {
  width: 141px;
  height: 141px;
  position: relative;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  animation: 1.5s linear infinite running rotate;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  bottom: 146px;
  left: 7px;
}
.inner-img {
  width: 137px;
  height: 137px;
  border-radius: 505%;
  background-color: red;
  background-size: contain;
  position: relative;
  z-index: 2;
  left: 9px;
  bottom: 147px;
}
.img-wrapper-visible {
  visibility: visible;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-panda {
  background-image: url(../assets/images/panda.jpg);
}
.bg-eagle {
  background-image: url(../assets/images/eagle.jpg);
}
.bg-crocodile {
  background-image: url(../assets/images/crocodile.jpg);
}
.bg-monkey {
  background-image: url(../assets/images/monkey.jpg);
}
/* map placeholder */
.active-img {
  width: 90px;
  height: 115px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.red-img-none {
  display: none;
  visibility: 0;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.img-visible {
  display: block;
  width: 90px;
  height: 115px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.map-panda {
  left: 120%;
  bottom: 82%;
}
.panda {
  background-image: url(../assets/images/active-map-panda.png) no-repeat 50% 28%;
}
.map-eagle {
  right: 107%;
  bottom: 91%;
}
.eagle {
  background: url(../assets/images/active-map-eagle.png) no-repeat 50% 28%;
}
.map-monkey {
  right: 36%;
  top: 12%;
}
.monkey {
  background: url(../assets/images/active-map-monkey.png) no-repeat 50% 28%;
}
.map-crocodile {
  right: 102%;
  bottom: 84%;
}
.crocodile {
  background: url(../assets/images/active-map-crocodile.png) no-repeat 50% 28%;
}
