main {
  background: #f2f2f2;
  min-height: 1287px;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-description {
  width: 790px;
  text-align: center;
  padding: 0;
}
h3 {
  padding-top: 61px;
  margin-bottom: 20px;
}
.map-slider {
  margin-top: 32px;
  margin-bottom: 10px;
}
.arrow {
  margin-top: 11px;
}
.map-pets-slider {
  display: flex;
  align-items: center;
  height: 157px;
}
/* circle */
.map-pets-item {
  width: 138px;
  height: 131px;
}
.img-wrapper {
  height: 157px;
  width: 157px;
  visibility: hidden;
  pointer-events: none;
}
.big-circle {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  animation: 1.7s linear infinite reverse running rotate;
  pointer-events: none;
  bottom: 9px;
  right: 9px;
}
.circle-white {
  width: 149px;
  height: 150px;
  background-color: white;
  position: relative;
  border-radius: 50%;
  bottom: 161px;
  right: 6px;
  pointer-events: none;
}
.border-img {
  width: 141px;
  height: 141px;
  position: relative;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  animation: 1.5s linear infinite running rotate;
  border-radius: 50%;
  pointer-events: none;
  bottom: 307px;
  right: 2px;
}
.inner-img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  position: absolute;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
  margin-top: 18px;
  margin-left: 15px;
}
.inner-img-visible {
  width: 137px;
  height: 137px;
  margin: 0;
}
.img-wrapper-visible {
  visibility: visible;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-panda {
  background-image: url(../assets/icons/ellipse-panda.png);
}
.bg-eagle {
  background-image: url(../assets/icons/ellipse-eagle.png);
}
.bg-crocodile {
  background-image: url(../assets/icons/ellipse-crocodile.png);
}
.bg-monkey {
  background-image: url(../assets/icons/ellipse-monkye.png);
}
.bg-tiger {
  background-image: url(../assets/icons/ellipse-tiger.png);
}
.bg-elephant {
  background-image: url(../assets/icons/ellipse-elephant.png);
}
.bg-leon {
  background-image: url(../assets/icons/ellipse-leon.png);
}
.bg-zebra {
  background-image: url(../assets/icons/ellipse-zebra.png);
}
.button-container-input {
  margin-right: 34px;
  margin-bottom: 25px;
}
/* map placeholder */
.active-img {
  width: 90px;
  height: 115px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.map-content {
  height: 784px;
}
.red-img-none {
  display: none;
  visibility: 0;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.img-visible {
  display: block;
  width: 90px;
  height: 115px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.map-panda {
  left: 132%;
  bottom: 64%;
}
.panda {
  background-image: url(../assets/images/active-map-panda.png) no-repeat 50% 28%;
}
.map-eagle {
  right: 108%;
  bottom: 76%;
}
.eagle {
  background: url(../assets/images/active-map-eagle.png) no-repeat 50% 28%;
}
.map-monkey {
  right: 36%;
  top: 12%;
}
.monkey {
  background: url(../assets/images/active-map-monkey.png) no-repeat 50% 28%;
}
.map-crocodile {
  right: 102%;
  bottom: 62%;
}
.crocodile {
  background: url(../assets/images/active-map-crocodile.png) no-repeat 50% 28%;
}
.btn-map {
  margin-bottom: 28px;
  margin-left: 5px;
}
.footer-btn {
  margin-top: 2px;
}
