main {
  display: flex;
  background: var(--bg-soft, #f2f2f2);
  height: 100%;
}
h3 {
  padding-top: 15px;
  margin-bottom: 41px;
  margin-top: 0;
}
h4 {
  margin-top: 12px;
  margin-bottom: 7px;
}
.wrapper-zoos {
  display: flex;
  flex-direction: column;
  margin-left: 151px;
  margin-top: 46px;
}
.animals-video {
  display: flex;
}
.map-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1px;
  width: 210px;
  height: 600px;
  position: sticky;
  top: 155px;
}
.slider {
  width: 157px;
  height: 550px;
  position: relative;
  overflow: hidden;
  margin-bottom: 26px;
}
.zoos-pets-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 500px;
  width: 137px;
  margin-left: 5px;
}
.map-pets-item {
  width: 108px;
  height: 108px;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.map-pets-item-visible {
  width: 137px;
  height: 157px;
}
.big-circle {
  width: 154px;
  height: 154px;
  left: 1px;
  top: 2px;
}
.circle-white {
  width: 150px;
  height: 150px;
  bottom: 150px;
  left: 3px;
}
.border-img {
  width: 142px;
  height: 142px;
  bottom: 296px;
  left: 7px;
}
.inner-img {
  width: 107px;
  height: 107px;
  margin: 0;
}
.inner-img-visible {
  width: 137px;
  height: 135px;
  margin-left: 9px;
  margin-top: 12px;
}
.img-wrapper {
  width: 119px;
  height: 119px;
}
.img-wrapper-visible {
  width: 137px;
  height: 137px;
}
.arrow-down {
  margin: 0;
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
}
.arrow-up {
  margin: 0;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
}
.arrow:hover {
  height: 20px;
  width: 20px;
}

/* video section */
.video-description {
  display: flex;
  flex-wrap: wrap;
  min-height: 754px;
}
.video {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.video-non-visible {
  display: flex;
  justify-content: space-between;
  visibility: 0;
  pointer-events: none;
}
.size-video-top {
  width: 790px;
  height: 442px;
  border-radius: 5px;
}
.additional-video {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.size-video-down {
  width: 246px;
  height: 141px;
  border-radius: 5px;
}
.switcher-container {
  width: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.switch-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
}
.switch-circle:hover {
  background: #c4c4c49a;
}
.active-circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #4bd8b5;
}
.active-circle:hover {
  background: #4bd8b5;
  pointer-events: none;
}
/* description section */
.description {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.population {
  margin-top: 0;
}
.button-feed {
  width: 194px;
  height: 55px;
  margin-top: 34px;
}
.footer-center-midle-zoos {
  margin-bottom: 73px;
}

/* todo done */
@media (max-width: 1600px) {
  .wrapper-zoos {
    margin-left: 30px;
  }
  .switcher-container {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .description {
    max-width: 485px;
  }
  .button-feed {
    margin-top: 31px;
    margin-bottom: 78px;
  }
}
/* todo done */
@media (max-width: 1200px) {
  .map-slider {
    width: 151px;
    height: 521px;
    top: 156px;
    margin-left: 0;
  }
  .slider {
    width: 157px;
    height: 459px;
    margin-left: 33px;
    margin-left: 26px;
    margin-bottom: 24px;
  }
  .zoos-pets-slider {
    width: 120px;
    height: 430px;
    margin-left: 10px;
  }
  .inner-img {
    width: 96px;
    height: 96px;
    margin-left: 3px;
  }
  .inner-img-visible {
    width: 104px;
    height: 104px;
    margin-top: 8px;
  }
  .map-pets-item {
    width: 104px;
    height: 90px;
    margin: 8px;
  }
  .map-pets-item-visible {
    width: 112px;
    height: 112px;
  }
  .img-wrapper-visible {
    width: 120px;
    height: 120px;
  }
  .big-circle {
    width: 120px;
    height: 120px;
    left: -5px;
    top: 1px;
  }
  .circle-white {
    width: 114px;
    height: 115px;
    bottom: 117px;
    left: -2px;
  }
  .border-img {
    width: 106px;
    height: 106px;
    bottom: 228px;
    left: 2px;
  }

  /* video */
  .video-description {
    min-height: 557px;
  }
  .wrapper-zoos {
    margin-left: 45px;
  }
  .video {
    margin-left: 0;
    margin-right: 20px;
  }
  .size-video-top {
    width: 525px;
    height: 295px;
  }
  .size-video-down {
    width: 163px;
    height: 92px;
  }

  /* description */
  .description {
    max-width: 260px;
  }
  h4 {
    margin-top: 14px;
    margin-bottom: 7px;
  }
  .button-feed {
    width: 185px;
    height: 55px;
    margin-top: 18px;
  }

  /* footer */
  .footer-middle {
    margin-bottom: 34px;
  }
  .footer-submit {
    margin-top: 20px;
  }
  .footer-center-midle-zoos {
    margin-bottom: 59px;
  }
  address {
    margin-bottom: -2px;
  }
  .footer-right {
    margin-top: 35px;
  }
}
@media (max-width: 1100px) {
  .inner-img-visible {
    right: 44px;
  }
}

@media (max-width: 640px) {
  main {
    max-width: 640px;
  }
  /* slider */
  .map-slider {
    width: 95px;
    margin-left: 7px;
  }
  .slider {
    height: 342px;
    width: 95px;
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 18px;
  }
  .zoos-pets-slider {
    margin-left: 0;
    width: 99px;
    height: 374px;
  }
  .map-pets-slider {
    width: 95px;
  }
  .map-pets-item {
    height: 68px;
    width: 68px;
    margin: 7px;
  }
  .map-pets-item-visible {
    width: 95px;
    height: 95px;
    margin: 12px;
  }
  .inner-img {
    width: 68px;
    height: 68px;
  }
  .inner-img-visible {
    width: 82px;
    height: 82px;
    right: 7px;
    top: 6px;
  }
  .img-wrapper {
    width: 95px;
    height: 95px;
  }
  .big-circle {
    width: 95px;
    height: 95px;
    top: 12px;
    left: 8px;
  }
  .circle-white {
    width: 91px;
    height: 91px;
    bottom: 81px;
    left: 10px;
  }
  .border-img {
    width: 84px;
    height: 84px;
    bottom: 169px;
    left: 13px;
  }
  /*  video */
  .wrapper-zoos {
    margin-left: 23px;
    margin-top: 137px;
  }
  h3 {
    margin-bottom: 37px;
    margin-left: 10px;
  }
  .size-video-top {
    max-width: 496px;
    height: 279px;
  }
  .additional-video {
    margin: 15px 0;
  }
  .size-video-down {
    width: 155px;
    height: 90px;
  }
  .switcher-container {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .description {
    max-width: 485px;
  }
  h4 {
    margin-bottom: 5px;
  }
  .button-feed {
    margin-top: 31px;
    margin-bottom: 78px;
  }

  /* footer */
  .footer-center-midle-zoos {
    margin-bottom: -87px;
  }
  .footer-center-top-link {
    bottom: 526px;
  }
  .footer-right {
    margin-top: 93px;
  }
}

@media (max-width: 320px) {
  /*  slider */
  .map-slider {
    margin-left: 6px;
    top: 131px;
  }
  .slider {
    height: 210px;
    width: 65px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .zoos-pets-slider {
    margin-left: 0;
    width: 55px;
    height: 200px;
  }
  .map-pets-item {
    height: 40px;
    width: 40px;
    margin: 3px;
  }
  .map-pets-item-visible {
    width: 65px;
    height: 65px;
    /* margin: 12px; */
  }
  .img-wrapper {
    width: 40px;
    height: 40px;
  }
  .img-wrapper-visible {
    width: 65px;
    height: 65px;
  }
  .inner-img {
    width: 40px;
    height: 40px;
  }
  .inner-img-visible {
    width: 59px;
    height: 59px;
    right: 2px;
    top: 4px;
  }
  .big-circle {
    top: 2px;
    left: 14px;
    width: 65px;
    height: 65px;
  }
  .circle-white {
    width: 64px;
    height: 64px;
    bottom: 63px;
    left: 15px;
  }
  .border-img {
    width: 60px;
    height: 60px;
    bottom: 125px;
    left: 17px;
  }
  /* video */
  .wrapper-zoos {
    margin-top: 105px;
    margin-left: 26px;
  }
  h3 {
    margin-bottom: 13px;
    margin-left: 6px;
  }
  .size-video-top {
    max-width: 205px;
    height: 116px;
  }
  .additional-video {
    margin: 10px 0;
  }
  .video-remove {
    display: none;
  }
  .size-video-down {
    width: 98px;
    height: 55px;
  }
  .switcher-container {
    margin-top: 11px;
    margin-bottom: 28px;
  }
  h4 {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .description {
    max-width: 215px;
  }
  .button-feed {
    margin-top: 18px;
    margin-bottom: 59px;
  }
  /* footer */
  .footer-middle {
    margin-bottom: 38px;
  }
  .footer-center-midle-zoos {
    margin-bottom: 26px;
  }
  .footer-center-top-link {
    bottom: 468px;
  }
  .footer-right {
    margin-top: 39px;
  }
}
