main {
  display: flex;
  height: 910px;
}
h3 {
  margin-top: 0;
}
h4 {
  margin-top: 6px;
  margin-bottom: 13px;
}
.wrapper-zoos {
  display: flex;
  width: 1620px;
  margin: auto;
  margin-top: 60px;
}
.animals-video {
  display: flex;
}
.animals {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.zoos-slider-wrapper {
  height: 480px;
  overflow: hidden;
}
.zoos-pets-slider {
  display: flex;
  flex-direction: column;
}
.zoos-pets-item {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  border: 18px solid #f2f2f2;
  box-sizing: border-box;
}
.zoos-pets-item:hover {
  border: 12px solid white;
}
.zoos-item-img {
  width: 96px;
  height: 96px;
}

/* video section */
.video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
  margin-right: 30px;
}
.video-non-visible {
  display: flex;
  justify-content: space-between;
  visibility: 0;
  pointer-events: none;
}

.size-video-top {
  width: 790px;
  height: 442px;
  border-radius: 5px;
}
.additional-video {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.size-video-down {
  width: 246px;
  height: 141px;
  border-radius: 5px;
}
.switcher-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.switcher-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37px;
}
.switch-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c4c4c4;
}
.active-circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
}

/* description section */
.description {
  max-width: 253px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 69px;
}
.button {
  width: 185px;
  height: 53px;
}
