@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
:root {
  --first-screen: 62px;
  --testimonial: 62px;
  --how-it-works: 62px;
  --pets-in-zoo: 62px;
  --bg-dark: #ffffff;
  --text-h4: #333333;
  --color-p: #4f4f4f;
  --bg-soft: #f2f2f2;
  --bg-testimonial-card: #fefefe;
  --bg-map: url(./assets/images/map-1920.jpg);
  --arrow-right: url(./assets/icons/arrow-right-light.png);
}
li {
  list-style: none;
}
p {
  margin: 0;
  color: var(--color-p, #4f4f4f);
  text-align: left;
}
a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--text-h4, #333333);
}
a:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-h4, #333333);
}
.active {
  font-weight: 900;
  border-bottom: 1px solid var(--text-h4, #333333);
  pointer-events: none;
}
.label-contact-us {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-h4, #333333);
}
.label-contact-us:hover {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-h4, #333333);
}
.wrapper-around {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.wrapper-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  margin: 0 150px;
}

h1,
h2,
h3,
h4,
.logo-online {
  font-weight: 900;
}

.header-logo {
  font-weight: 900;
  font-size: 28px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 6px;
  color: var(--text-h4, #333333);
}
.logo-online {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: var(--text-h4, #333333);
}
.logo-online:hover {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: var(--text-h4, #333333);
}
h1 {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}
h2 {
  font-size: 89px;
  line-height: 104px;
  color: #fefefe;
  max-width: 793px;
  margin-top: 206px;
  margin-bottom: 0;
}
h3,
h4 {
  color: var(--text-h4, #333333);
}
h3 {
  font-size: 48px;
  line-height: 56px;
  padding-top: 100px;
  margin-top: 0;
  margin-bottom: 30px;
}
h4 {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Range, output, button */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}
input[type="range"] {
  width: 245px;
  background: rgba(189, 189, 189, 0.57);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
}
input[type="range"]::-webkit-slider-thumb {
  background: var(--text-h4, #333333);
  cursor: pointer;
  width: 62px;
  height: 10px;
  -webkit-appearance: none;
  margin-top: -2.5px;
}
input[type="range"]::-moz-range-track {
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
}
input[type="range"]::-moz-range-thumb {
  background: var(--text-h4, #333333);
  cursor: pointer;
  width: 62px;
  height: 10px;
  -webkit-appearance: none;
  margin-top: -2.5px;
}
input[name="first-screen"]::-webkit-slider-thumb {
  background: #fefefe;
  width: var(--first-screen, 62px);
}
input[name="testimonial"]::-webkit-slider-thumb {
  width: var(--testimonial, 62px);
}
input[name="how-it-works"]::-webkit-slider-thumb {
  width: var(--how-it-works, 62px);
}
input[name="pets-in-zoo"]::-webkit-slider-thumb {
  width: var(--pets-in-zoo, 62px);
}
.btn-wraper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.output-range-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 11px;
}
.output-range-strong {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-h4, #333333);
  padding: 0;
}
.output-range-small {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
  margin-top: 10px;
  padding: 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 31px;
  margin-right: 2px;
  transition: 150ms;
}
.button:hover {
  background: linear-gradient(106.89deg, #49d6df -14.32%, #4bd8b5 100.68%);
}
.button:active {
  background: #49d6df;
  box-shadow: 0 2px #4bd8b5 inset;
}
.img-btn {
  width: 32px;
  height: 32px;
  margin-right: 3px;
}

/*  Header  */
header {
  background: var(--bg-dark, #ffffff);
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  z-index: 1;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin-top: 7px;
  margin-bottom: 0;
}
.switch-dark {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch-dark input {
  display: none;
}
.switch-dark-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-soft, #f2f2f2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-dark-button:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-dark, #ffffff);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .switch-dark-button {
  background-color: #4f4f4f;
}
input:focus + .switch-dark-button {
  box-shadow: 0 0 1px #4f4f4f;
}
input:checked + .switch-dark-button:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch-dark-button.round {
  border-radius: 34px;
}
.switch-dark-button.round:before {
  border-radius: 50%;
}

/*    Main section  */
/*    First-screen  */
.first-screen {
  background: url(assets/images/first-screen-bg.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  height: 940px;
}
.first-screen-top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
}
.btn-slider {
  margin-top: 38px;
}
.first-screen-content {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
}
.media-aside {
  display: flex;
  align-items: flex-end;
  margin-left: 152px;
}
.main-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 113px;
  margin-bottom: 93px;
}
.img-media {
  width: 20px;
  height: 20px;
}
.img-media:hover {
  border-radius: 5px;
  background: #4f4f4f;
}
.slider-small {
  display: flex;
  justify-content: flex-end;
  max-width: 56%;
  height: 421px;
  background: url(./assets/icons/line.svg) no-repeat center left;
  background-position: 0% 44%;
  position: relative;
  bottom: 101px;
}
.slider-pets {
  max-width: 88%;
}
.small-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container-zoo-small {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
  border-radius: 5px;
  padding-left: 24px;
  padding-bottom: 30px;
  background: none;
  opacity: 0;
}
.slider-small-btn-donate {
  cursor: pointer;
}
.small-slider-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  width: 140px;
  height: 230px;
  margin-right: 45px;
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
  border-radius: 5px;
  pointer-events: none;
}
.slider-active {
  opacity: 1;
  width: 245px;
  height: 351px;
  pointer-events: visible;
}
.visible-small {
  padding-bottom: 28px;
  opacity: 1;
}
.first-screen-input {
  justify-content: flex-start !important;
  margin-top: -6px;
  margin-bottom: 115px;
  margin-left: 186px;
}
.small-strong-output {
  color: #fefefe !important;
}

/*    how it is work   */
.how-it-works {
  background: var(--bg-dark, #ffffff);
}
.how-it-works-top {
  max-width: 790px;
  margin: 0 auto;
}
.top-description {
  margin-bottom: 34px;
}
.top-item {
  display: none;
}
.top-item img {
  max-width: 100%;
  height: 100%;
}
.top-item-visible {
  display: block;
}
.btn-how-it-works {
  margin-bottom: 108px;
}
.how-it-works-down-wrapper {
  background: var(--bg-soft, #f2f2f2);
}
.how-it-works-down {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 91px;
  padding-bottom: 130px;
  margin: 0 auto;
}
.down-item {
  max-width: 380px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
  border-radius: 5px;
  text-align: center;
}

/* pets-in-zoo */
.pets-in-zoo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-dark, #ffffff);
}
.pets-in-zoo-h {
  margin-bottom: 27px;
}
.slider {
  display: flex;
  align-items: center;
  margin-top: 3px;
}
.arrow {
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: var(--arrow-right, url(./assets/icons/arrow-right-dark.png)) no-repeat center;
}
.arrow:hover {
  height: 59px;
  background-color: #615f5f85;
}
.arrow:active {
  background-color: #5f6161dc;
}
.arrow-left {
  transform: rotate(-180deg);
}
.item-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 277px;
  height: 398px;
  background: #11111198;
  opacity: 0;
  transition: ease-in-out 300ms;
  border-radius: 5px;
}
.animation {
  padding-left: 22px;
}
.visible {
  padding-bottom: 40px;
  opacity: 1;
}
.item-container:hover {
  opacity: 1;
  padding-bottom: 40px;
}
.slider-list {
  display: flex;
  max-width: 1200px;
  overflow: hidden;
}
.slider-list-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  width: 277px;
  height: 400px;
  margin-right: 30px;
  border-radius: 5px;
}
.slider-description {
  width: 182px;
  color: #ffffff;
  margin-bottom: 14px;
}
.slider-watch {
  margin-right: 10px;
}

/* pay-and-feet */
.pay-and-feat {
  background: var(--bg-soft, #f2f2f2);
}
.pay-and-feet-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay-and-feet-tittle {
  padding-top: 94px;
}
.pay-and-feet-items {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-top: 90px;
  margin-bottom: 32px;
}
.pay-and-feet-circle {
  width: 242px;
  height: 242px;
  border-radius: 50%;
  border: 1px solid #4bd8b5;
  display: flex;
  align-items: center;
}
.circle-text {
  width: 55%;
  margin-bottom: -73px;
  margin-left: 50px;
}
.visa {
  background: url(./assets/icons/visa.svg) no-repeat 48% 38%;
}
.pay-and-feet-svg {
  background: url(./assets/icons/pay-and-feet.svg) no-repeat 49% 35%;
}
.pay-and-feet-panda {
  background: url(./assets/icons/pay-and-feet-panda.svg) no-repeat 45% 37%;
}
.pay-and-feet-arrow {
  background: url(./assets/icons/Arrow3.svg) no-repeat center center;
  width: 107px;
}

/* testimonials */
.testimonial {
  background: var(--bg-dark, #ffffff);
}
.testimonial-description {
  padding-top: 90px;
  margin-bottom: 49px;
}
.slider-person {
  display: flex;
  align-items: center;
}
.testimonials-card {
  display: flex;
  align-items: center;
  max-width: 1200px;
  overflow: hidden;
}
.person-container {
  display: flex;
}
.testimonial-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 585px;
  height: 310px;
  margin: 20px 10px;
  background: var(--bg-testimonial-card, #fefefe);
  border-radius: 5px;
}
.person-visible {
  cursor: pointer;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
}

.testimonial-person-img {
  width: 68px;
  height: 68px;
  margin-top: 47px;
  margin-bottom: 2px;
}
.testimonial-person-description {
  width: 75%;
  margin-top: 2px;
  margin-bottom: 106px;
}

/*  map  */
.map {
  background: var(--bg-soft, #f2f2f2);
  max-width: 1920px;
  height: 890px;
}
.map-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 100%;
}
.map-description {
  padding-top: 86px;
  margin-bottom: 0;
}
.map-animals {
  background-image: var(--bg-map, url(./assets/images/map-1920.jpg));
  background-repeat: no-repeat;
  background-position: 50% 47%;
  display: flex;
  width: 1200px;
  height: 569px;
}
.map-placeholder {
  width: 90px;
  height: 97px;
  position: relative;
  cursor: pointer;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.tooltip-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease;
  width: 436px;
  height: 149px;
  background: var(--bg-dark, #ffffff);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  top: 144px;
  right: 89px;
  transform: translateX(10%) translateY(-50%);
}
.map-placeholder:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(10%) translateY(-30%);
}

.tooltip-img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 20px;
}
.tooltip-description {
  display: flex;
  flex-direction: column;
}
.tooltip-heading {
  font-size: 18px;
  line-height: 21px;
  text-align: start;
  margin: 0;
}
.tooltip-paragraph {
  margin-top: 7px;
  margin-bottom: 5px;
}
.right-tollip {
  left: 0;
}
.panda {
  background: url(./assets/images/active-map-panda.png) no-repeat 50% 28%;
}
.eagle {
  background: url(./assets/images/active-map-eagle.png) no-repeat 50% 28%;
}
.monkey {
  background: url(./assets/images/active-map-monkey.png) no-repeat 50% 28%;
}
.crocodile {
  background: url(./assets/images/active-map-crocodile.png) no-repeat 50% 28%;
}
.active-img {
  width: 90px;
  height: 115px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.red-img-none {
  display: none;
  visibility: 0;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.img-visible {
  display: block;
  width: 90px;
  height: 115px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}
.map-monkey {
  left: 24%;
  top: 43%;
}
.map-panda {
  left: 74%;
  top: 26%;
}
.map-eagle {
  left: 2%;
  top: 23%;
}
.map-crocodile {
  left: 4%;
  top: 28%;
}
.btn-map {
  margin-bottom: 93px;
}

/*    Footer    */
.footer-column {
  display: flex;
  flex-direction: column;
}
footer {
  background: #333;
}
.footer {
  display: flex;
  justify-content: space-between;
  height: 618px;
}

/* footer left */
.footer-left {
  width: 383px;
}
.footer-top {
  display: flex;
  margin-top: 93px;
  margin-bottom: 66px;
}

.footer-logo-zoo {
  color: #fefefe;
  margin-top: 10px;
}
.footer-logo-online {
  color: #fefefe;
}
.footer-logo-online:hover {
  color: #fefefe;
}
.footer-middle {
  margin-bottom: 26px;
}
.footer-contact {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-form-input {
  background: #333333;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  color: #e0e0e0;
  width: 380px;
  margin-bottom: 20px;
  padding-bottom: 9px;
  color: #e0e0e0;
  background-color: transparent;
  outline: none;
  appearance: none;
  cursor: pointer;
}
.footer-form-input:focus {
  border: none;
}
fieldset {
  border: 1px solid #bdbdbd;
  background-color: #333;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 24px;
}
legend {
  font-size: 12px;
  line-height: 18px;
  color: #bdbdbd;
  border: none;
  margin: 0;
}
.textarea {
  width: 360px;
  height: 88px;
  color: #e0e0e0;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
.label-checkbox {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-left: 10px;
  padding-left: 10px;
}
.label-checkbox:before {
  content: "";
  background: #333;
  display: inline-block;
  position: absolute;
  left: -10px;
  width: 13px;
  height: 13px;
  border: 1px solid #bdbdbd;
  border-radius: 1px;
  cursor: pointer;
}
input[type="checkbox"]:checked + .label-checkbox:before {
  content: "\2714";
  color: white;
}
.footer-submit {
  margin-top: 19px;
  float: right;
}
.footer-submit-btn {
  display: flex;
  width: 108px;
  margin-right: 13px;
  background: url(./assets/icons/footer-submit-arrow.svg) no-repeat center right;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-right: 13px;
  color: #fefefe;
}

/* footer left end */

/*  footer center */
.footer-center {
  display: flex;
  justify-content: space-between;
  width: 795px;
}
.footer-top-center {
  margin-bottom: 73px;
}
.footer-center-aside {
  margin-top: 10px;
}
.footer-center-top-link {
  display: flex;
  justify-content: space-between;
  width: 379px;
  margin-top: 16px;
}
.footer-center-link {
  font-weight: 500;
  color: #fefefe;
}
.footer-center-link:hover {
  font-weight: 500;
  color: #fefefe83;
}
.footer-middle {
  margin-bottom: 32px;
}
.footer-zoo-center {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  pointer-events: none;
}
.footer-zoo-center:hover {
  line-height: 16px;
}
.footer-bottom-contact {
  margin-bottom: 19px;
  margin-top: 3px;
}
.footer-bottom-p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #fefefe;
}
.media-footer {
  display: flex;
  margin-top: 20px;
}
.media-list-footer {
  margin-right: 15px;
}
address {
  margin: 0;
}
.footer-btn {
  width: 275px;
  font-weight: 500;
  margin: 0;
  margin-top: 6px;
}
/* footer copyright */
.footer-copyright {
  border-top: 0.5px solid #fefefe;
  padding-top: 26px;
  padding-bottom: 130px;
}
.footer-p-copyright {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 19px;
}

@media (max-width: 1500px) {
  .footer-center {
    flex-direction: column;
  }
  .footer-center {
    width: 480px;
  }
}
@media (max-width: 1360px) {
  /* pets-in-zoo */
  .pets-in-zoo-h {
    padding-top: 91px;
    margin-bottom: 25px;
  }
  .slider-list {
    max-width: 900px;
    margin-left: 10px;
  }
  .slider-list-item {
    width: 210px;
    height: 300px;
    margin-right: 20px;
  }
  .item-container {
    width: 210px;
    height: 300px;
  }
  .animation {
    padding-bottom: 0;
    padding-left: 7px;
  }
  .visible {
    padding-bottom: 26px;
  }
  .item-container:hover {
    padding-bottom: 26px;
  }
  .slider-description {
    width: 175px;
  }
  .btn-pets-in-zoo {
    margin-top: 2px;
    margin-bottom: 102px;
  }
  /* testimonial */
  .testimonial-description {
    padding-top: 98px;
    margin-bottom: 39px;
  }
  .testimonials-card {
    width: 910px;
  }
  .arrow-left {
    margin: 0 13px;
  }
  .testimonial-person {
    width: 440px;
  }
  .testimonial-person-img {
    margin-top: 50px;
    margin-bottom: 2px;
  }
}

@media (max-width: 1200px) {
  body {
    max-width: 1200px;
  }
  .wrapper-around {
    max-width: 1200px;
  }
  .wrapper {
    margin: 0px 12%;
  }
  h2 {
    margin-top: 127px;
  }

  /* first-screen */
  .first-screen {
    height: 924px;
  }
  .first-screen-top {
    max-width: 900px;
  }
  .main-media {
    margin-bottom: -5px;
  }
  .first-screen-content {
    max-width: 1200px;
  }
  .small-slider {
    max-width: 587px;
  }
  .slider-small {
    max-width: 720px;
    height: 426px;
    background-position: 0 44%;
    top: 4px;
  }
  .small-slider-item {
    margin-right: 30px;
    height: 263px;
    width: 182px;
  }
  .slider-active {
    width: 245px;
    height: 355px;
  }
  .slider-pets {
    bottom: 0;
  }
  .first-screen-input {
    margin-top: -3px;
    margin-left: 217px;
    margin-bottom: 71px;
  }
  h3 {
    padding-top: 98px;
  }
  .top-description {
    margin-bottom: 15px;
  }
  .how-it-works-top {
    max-width: 746px;
  }
  .how-it-works-down-wrapper {
    max-width: 1200px;
  }
  .how-it-works-down {
    max-width: 900px;
  }
  .down-item {
    width: 285px;
  }

  /* pay-and-feet */
  .pay-and-feet-tittle {
    padding-top: 99px;
  }
  .pay-and-feet-items {
    max-width: 900px;
    margin-top: 49px;
    margin-bottom: 24px;
  }
  .pay-and-feet-arrow {
    background: url(./assets/icons/Arrow3.svg) no-repeat center right;
    width: 49px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .btn-pay-and-feet {
    margin-bottom: -9px;
  }

  /* map */
  .map {
    max-width: 1200px;
    height: 836px;
  }
  .map-description {
    padding-top: 94px;
  }
  .map-animals {
    background-size: 120% 166%;
    background-position: 50% 45%;
    width: 100%;
    height: 475px;
  }
  .map-panda {
    left: 66%;
    top: 23%;
  }
  .map-monkey {
    left: 24%;
  }
  .map-crocodile {
    left: 11%;
    top: 21%;
  }
  .map-eagle {
    left: 11%;
    top: 19%;
  }
  .right-toollip {
    left: 0;
  }

  /* footer */
  .footer {
    height: 621px;
  }
  .footer-middle {
    margin-bottom: 35px;
  }
  fieldset {
    margin-bottom: 19px;
  }
  .footer-submit {
    margin-top: 20px;
    margin-right: 3px;
  }
  .footer-top-center {
    margin-bottom: 61px;
  }
  .footer-center {
    flex-direction: column;
    justify-content: flex-start;
    width: 442px;
  }
  .footer-right {
    margin-top: 22px;
  }
  .footer-btn {
    margin-left: 0;
  }
  .footer-copyright {
    padding-top: 30px;
  }
}

@media (max-width: 1000px) {
  .wrapper-around {
    max-width: 900px;
    z-index: 50;
    position: absolute;
  }
  .wrapper {
    margin: 0px 3%;
  }
  /* pets-in-zoo */
  .slider-list {
    max-width: 671px;
  }
  /* testimonial */
  .testimonial-description {
    margin-bottom: 24px;
  }
  .testimonials-card {
    max-width: 600px;
  }
  .testimonial-person {
    width: 585px;
  }
  .btn-testimonial {
    margin-bottom: 101px;
  }
  .map-monkey {
    left: 15%;
    top: 42%;
  }
  .map-crocodile {
    left: 5%;
    top: 26%;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 640px) {
  .wrapper-around {
    max-width: 640px;
    z-index: 50;
    position: absolute;
  }
  .wrapper {
    margin: 0px 3%;
  }
  /* header */
  header {
    position: fixed;
    width: 640px;
    top: 0;
    left: auto;
  }
  header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark, #ffffff);
    z-index: 4;
  }
  .header-top {
    position: relative;
    overflow: auto;
  }
  .header-nav {
    flex-direction: column;
    display: none;
    text-align: center;
    position: fixed;
    width: 277px;
    height: 50%;
    top: -100%;
    padding: 40px;
    z-index: 2;
    background-color: var(--bg-dark, #ffffff);
    border-radius: 0 0 0 5%;
  }
  .header-nav-active {
    display: flex;
    top: 84px;
    transition: all 0.3s ease 0s;
  }
  body.body-lock {
    /* overflow-y: hidden; */
  }
  .logo {
    z-index: 3;
  }

  /* burger */
  .burger {
    display: flex;
    z-index: 3;
  }
  .burger-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 21px;
    margin-top: 9px;
    margin-left: 34px;
    cursor: pointer;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
    background-color: var(--text-h4, #333333);
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
    width: 34px;
  }
  .burger-menu span {
    content: "";
    background-color: var(--text-h4, #333333);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    transition: all 0.3s ease 0s;
  }
  .active-burger::before {
    transform: rotate(-45deg);
    width: 34px;
    top: 9px;
  }
  .active-burger::after {
    transform: rotate(45deg);
    bottom: 10px;
  }
  .active-burger span {
    transform: scale(0);
  }

  /* first-screen */
  .first-screen {
    background: url(assets/images/first-screen-640.png) no-repeat 100% 97%;
    height: 1030px;
  }
  .first-screen-top {
    max-width: 600px;
    margin-top: 95px;
  }
  h2 {
    width: 600px;
    font-size: 64px;
    line-height: 75px;
    margin-top: 122px;
  }
  .btn-slider {
    margin-top: 30px;
  }
  .output-range-container {
    margin-top: 27px;
    margin-bottom: 13px;
  }

  .first-screen-content {
    max-width: 640px;
  }
  .media-aside {
    margin-left: 20px;
  }
  .main-media {
    margin-bottom: -59px;
  }
  .slider-small {
    top: 49px;
    background-position: 0 44%;
  }
  .slider-pets {
    top: 50px;
  }
  .button-container {
    margin-bottom: 70px;
  }
  /* how-it-works */
  .how-it-works {
    max-width: 640px;
    margin: 0 auto;
  }
  .how-it-works-top {
    width: 600px;
  }
  .top-description {
    margin-bottom: 30px;
  }
  .how-it-works-down-wrapper {
    max-width: 640px;
  }
  .how-it-works-down {
    width: 600px;
    flex-direction: column;
    align-items: center;
    padding-top: 73px;
    padding-bottom: 77px;
  }
  .down-item {
    margin-top: 25px;
    margin-bottom: 23px;
  }

  /* pets-in-zoo */
  .arrow {
    display: none;
  }
  .slider {
    width: 600px;
    margin: 0 15px;
  }
  .btn-pets-in-zoo {
    margin-top: 15px;
    margin-bottom: 105px;
  }

  /* pay-and-feet */
  .pay-and-feet-description {
    width: 538px;
  }
  .pets-in-zoo-h {
    padding-top: 102px;
    padding-bottom: 7px;
  }
  .slider-list {
    margin-left: 0;
  }
  .pay-and-feet-description-p {
    text-align: center;
  }
  .btn-pay-and-feet {
    margin-top: -7px;
    margin-bottom: 31px;
  }
  .pay-and-feet-items {
    margin-top: 34px;
    margin-bottom: 52px;
    width: 640px;
    flex-direction: column;
    align-items: center;
  }
  .pay-and-feet-arrow {
    transform: rotate(90deg);
    height: 40px;
    margin: 30px;
  }

  /* testimonial */
  .testimonial-description {
    margin-bottom: 24px;
  }
  .testimonials-card {
    width: 600px;
  }
  .testimonial-person {
    width: 585px;
  }
  .btn-testimonial {
    margin-bottom: 105px;
  }

  /* map */
  .map {
    max-width: 640px;
    height: 669px;
  }
  .map-content {
    height: 608px;
  }
  .map-animals {
    background-size: 149% 153%;
    background-position: 51% 42%;
    width: 100%;
  }
  .btn-map {
    margin-bottom: 20px;
  }
  .map-description {
    padding-top: 100px;
  }
  .map-panda {
    left: 68%;
    top: 20%;
  }
  .map-eagle {
    left: -3%;
    top: 13%;
  }
  .map-crocodile {
    left: -10%;
    top: 21%;
  }
  .map-monkey {
    top: 35%;
    left: 1%;
  }

  /* footer */
  .footer {
    flex-direction: column;
    height: 931px;
  }
  .footer-top {
    margin-top: 89px;
    margin-bottom: 142px;
  }
  .footer-middle {
    margin-bottom: 33px;
  }
  fieldset {
    margin-bottom: 17px;
  }
  .footer-submit {
    margin-top: 21px;
    margin-right: 3px;
  }
  .footer-center-top-link {
    position: relative;
    bottom: 467px;
    flex-direction: column;
    margin-left: 27px;
  }
  .footer-center-aside {
    margin-top: 21px;
  }
  .footer-center-list {
    margin-bottom: 5px;
  }
  .footer-top-center {
    margin: -28px;
  }
  .media-footer {
    margin-top: 0px;
  }
  address {
    margin-bottom: 20px;
  }
  .footer-right {
    position: relative;
    bottom: 894px;
    left: 324px;
    width: 275px;
    margin-bottom: 30px;
  }
  .footer-copyright {
    margin-top: 26px;
    padding-bottom: 47px;
  }
}

@media (max-width: 320px) {
  .wrapper-around {
    max-width: 320px;
    z-index: 50;
    position: absolute;
  }
  .wrapper {
    width: 300px;
  }
  /* header */
  header {
    max-width: 320px;
    height: 92px;
  }
  .burger-menu {
    margin-left: 22px;
  }
  .header-nav {
    width: 100%;
    left: 0;
    padding: 0;
    height: 30%;
    border-bottom: 5%;
  }

  /* first-screen */
  .first-screen {
    background-position: 5% -17%;
    height: 762px;
  }
  .first-screen-top {
    width: 300px;
    margin-top: 65px;
  }
  h2 {
    width: 300px;
    font-size: 48px;
    line-height: 56px;
  }
  .btn-slider {
    margin-top: 15px;
  }
  .first-screen-content {
    width: 320px;
  }
  .media-aside {
    display: none;
  }
  .small-slider {
    width: 282px;
  }
  .slider-small {
    height: 202px;
    background-position: 3% 67%;
  }
  .small-slider-item {
    width: 113px;
    height: 164px;
    margin-right: 9px;
  }
  .slider-pets {
    width: 297px;
    top: 33px;
  }
  .slider-active {
    width: 140px;
    height: 202px;
  }
  input[name="first-screen"] {
    width: 140px;
  }
  .first-screen-output {
    margin-bottom: 2px;
    margin-top: 38px;
  }
  .first-screen-input {
    margin-left: 123px;
    margin-top: -22px;
  }
  /*  how-it-works */
  .how-it-works {
    width: 320px;
  }
  .how-it-works-top {
    width: 300px;
  }
  h3 {
    font-size: 36px;
    line-height: 42px;
    padding-top: 50px;
    margin-bottom: 21px;
  }
  .top-item img {
    background-size: 100% 100%;
  }
  .how-it-works-down-wrapper {
    width: 320px;
  }
  .how-it-works-down {
    width: 320px;
    padding: 0;
    padding-bottom: 44px;
  }
  .down-item {
    width: 297px;
    margin-bottom: 7px;
  }
  .btn-how-it-works {
    margin-top: -8px;
    margin-left: 16px;
    margin-bottom: 48px;
  }
  .button {
    margin-top: 23px;
  }
  .btn-slider {
    margin-top: 15px;
  }
  /* pets-in-zoo */
  .slider {
    max-width: 300px;
    margin: 0;
  }
  .slider-list-item {
    margin-right: 16px;
  }
  .pets-in-zoo-h {
    padding-bottom: 1px;
  }
  .btn-pets-in-zoo {
    margin-top: 6px;
    margin-bottom: 54px;
  }
  /* pay-and-feet */
  .pay-and-feet-description {
    max-width: 300px;
  }
  .pay-and-feet-tittle {
    padding-top: 51px;
  }
  .pay-and-feet-description-p {
    display: none;
  }
  .pay-and-feet-items {
    width: 320px;
    margin-top: 5px;
  }
  .btn-pay-and-feet {
    margin-top: -10px;
    margin-bottom: -19px;
  }
  /* testimonial */
  .testimonial-description {
    padding-top: 50px;
    margin-bottom: 17px;
  }
  .testimonials-card {
    width: 320px;
  }
  .testimonial-person {
    width: 300px;
    height: 363px;
  }
  .testimonial-h4 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 46px;
    margin-bottom: 0px;
  }
  .testimonial-person-description {
    width: 272px;
    margin-top: 19px;
  }
  .btn-testimonial {
    margin-top: -9px;
    margin-bottom: 54px;
  }

  /* map */
  .map {
    width: 320px;
    height: 413px;
  }
  .map-content {
    height: 322px;
    background-size: 141% 85%;
  }
  .map-description {
    padding-top: 46px;
  }
  .img-visible {
    width: 54px;
    height: 74px;
  }
  .active-img {
    width: 54px;
    height: 74px;
  }
  .tooltip-content {
    display: none;
  }
  .map-panda {
    left: 67%;
    top: 5%;
  }
  .map-eagle {
    left: -16%;
    top: 0%;
  }
  .map-monkey {
    top: 20%;
    left: -33%;
  }
  .map-crocodile {
    left: -34%;
    top: 4%;
  }
  .btn-map {
    margin-bottom: -29px;
    margin-top: 44px;
  }
  .panda {
    background-size: 50%;
  }
  .eagle {
    background-size: 50%;
  }
  .monkey {
    background-size: 50%;
  }
  .crocodile {
    background-size: 50%;
  }
  /* footer */
  .footer {
    height: 982px;
    margin: 0 auto;
  }
  .footer-left {
    width: 300px;
  }
  .footer-top {
    margin-top: 40px;
    margin-bottom: 152px;
  }
  .footer-form-input {
    width: 300px;
  }
  .textarea {
    width: 277px;
  }
  .footer-submit {
    margin-right: -11px;
  }
  .footer-center {
    width: 300px;
  }
  .footer-center-top-link {
    max-width: 300px;
  }
  .footer-top-center {
    position: relative;
    top: -27px;
    left: -26px;
    margin: 0;
  }
  .footer-zoo-center {
    position: relative;
    top: -78px;
  }
  address {
    position: relative;
    top: -78px;
  }
  .media-aside-footer {
    position: relative;
    top: -78px;
  }
  .footer-right {
    top: -65px;
    left: 12px;
    margin-top: 0;
    margin-bottom: 70px;
  }
}
