@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
p {
  margin: 0;
}
a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
a:hover {
  font-family: Roboto;
  font-style: normal;
  color: #333333;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.active {
  color: #333333;
  font-weight: 900;
  border-bottom: 2px solid #333333;
}
.wrapper-around {
  max-width: 1920px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.wrapper {
  max-width: 1620px;
  margin: auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.logo {
  font-weight: 900;
  color: #333333;
}
.logo-link:hover {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.08em;
  margin-top: -8px;
  margin-left: 6px;
}
h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
}
.logo-online {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.08em;
  margin-top: -8px;
  margin-left: 6px;
}
.header-nav {
  display: flex;
}
.header-nav-link {
  margin-right: 122px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4f4f4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4f4f4f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*   Header end    */

/*    First-screen start */
.first-screen {
  background: url(assets/images/Rectangle\ 32.jpg) no-repeat;
  height: 940px;
}

/*    Footer    */
footer {
  height: 624px;
  margin-top: auto;
  background: #333;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  color: #fefefe;
  padding-top: 110px;
}
.footer-left {
  width: 50%;
}
.footer-list-left {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.footer-contact-list {
  margin-top: 57px;
  margin-bottom: 35px;
}
.footer-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}
.footer-contact:hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}
.footer-form {
  display: flex;
  flex-direction: column;
}
.footer-form-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background: #333333;
  border-bottom: 0.5px solid #fefefe;
  color: #e0e0e0;
  width: 383px;
  height: 26px;
  margin-bottom: 20px;
}
.checkbox-form {
  display: flex;
  margin-bottom: 20px;
}
.checkbox-form-span {
  margin-left: 10px;
}
.footer-form-submit {
  color: #e0e0e0;
  width: 383px;
  height: 26px;
}
.footer-center {
  display: flex;
  flex-direction: column;
}
.footer-center-nav {
  display: flex;
}
.footer-center-list {
  margin-right: 122px;
}
.footer-center-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fefefe;
}
.footer-center-link:hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fefefe;
}
.footer-center-p {
  margin-top: 74px;
}
.footer-center-p-first {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  margin-bottom: 35px;
}
.footer-center-p-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-media {
  display: flex;
  margin-bottom: 115px;
}
.footer-media-list {
  margin-right: 15px;
}
.footer-btn {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  width: 275px;
  height: 55px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #fefefe;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  padding-top: 28px;
  padding-bottom: 52px;
}
