@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
p {
  margin: 0;
  color: #4F4F4F
}
a {
  line-height: 19px;
  color: #333333;
}
a:hover {
  line-height: 19px;
  text-decoration: none;
  color: #615f5f85;
}
.active {
  font-weight: 900;
  border-bottom: 2px solid #333333;
}
.button {
  width: 249px;
  height: 59px;
  padding-top: 4px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.img-btn {
  width: 32px;
  height: 32px;
  padding-bottom: 4px;
  margin-right: 3px;
}
.wrapper-around {
  max-width: 1920px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background: #ffffff;
  /* box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08); */
}
.bg-wrapper-gray {
  max-width: 1920px;
  background: #f2f2f2;
}
.wrapper {
  max-width: 1620px;
  margin: auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
h1,
h2,
h3,
h4,
.logo-online{
  font-weight: 900;
}
.logo-online {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    color: #333333;
    text-align: center;
}
h1 {
  font-size: 2.5em;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-size: 89px;
  line-height: 104px;
  color: #fefefe;
  width: 70%;
  margin-bottom: 37px;
  padding-top: 17%;
}
h3,
h4 {
  color: #333333;
}
h3 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 100px;
    margin-bottom: 30px;
}
h4 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.header-nav {
  display: flex;
}
.header-nav-link {
  margin-right: 122px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4f4f4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4f4f4f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*   Header end    */

/*    Main section  */
/*    First-screen start */
.first-screen {
  background: url(assets/images/Rectangle\ 32.jpg) no-repeat;
}
.wrapper-main-section {
  max-width: 1200px;
  margin: auto;
}

.main-media {
  margin-top: 216px;
  padding-bottom: 70px;
  margin-bottom: 0;
}
.main-media-list {
  margin-bottom: 15px;
}
/*    how it is work   */
.how-it-works {
  width: 66%;
  margin: 100px auto;
}
.how-it-works-description {
  padding-bottom: 30px;
}
.button-how-it-works-btn {
  text-align: center;
}
.how-it-works-btn {
  margin-top: 100px;
  margin-bottom: 100px;
}
.how-it-works-list {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}
.how-it-works-list-item {
  width: 33%;
  margin-right: 30px;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
  border-radius: 5px;
}
.how-it-works-list-item:last-child {
  margin-right: 0;
}
.how-it-works-img {
  text-align: center;
}

/* pets-in-zoo */
.pets-in-zoo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-pets-in-zoo {
  width: 100%;
  overflow: hidden;
}
.slider-pets-in-zoo-list {
  display: flex;
}
.slider-pets-in-zoo-list-img {
  width: 277px;
  height: 400px;
}
.item-container {
  width: 205px;
  margin-top: -154px;
  margin-left: 54px;
}
.slider-pets-in-zoo-description {
  width: 182px;
  color: #ffffff;
  margin-bottom: 9px;
}
.slider-pets-in-zoo-watch {
  margin-right: 10px;
}

/* pay-and-feet */
.pay-and-feet {
  background: #f2f2f2;
}
.pay-and-feet-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay-and-feet-items {
  display: flex;
  margin-top: 90px;
}
.circle-item {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  border: 1px solid #4bd8b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-img {
  width: 60px;
  margin-bottom: 18px;
}
.circle-text {
  width: 65%;
}
.pay-and-feet-circle {
  display: flex;
  padding-bottom: 100px;
}
.pay-and-feet-arrow {
  margin-right: 63px;
  margin-left: 63px;
}

/* testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-cards {
  display: flex;
  width: 1200px;
  margin-top: 60px;
  justify-content: space-between;
}
.testimonial-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 8px;
  margin-left: 8px;
  background: #fefefe;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
}
.testimonial-person:hover {
  cursor: pointer;
}
.testimonial-person-img {
  width: 68px;
  height: 68px;
  margin-top: 47px;
  margin-bottom: 17px;
}
.testimonial-person-description {
  width: 75%;
  margin-top: 17px;
  margin-bottom: 106px;
}
/*  map  */
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}
.map-img {
  margin-top: 60px;
  margin-bottom: 35px;
}
/*    Footer    */
footer {
  margin-top: auto;
  background: #333;
}
.footer {
  display: flex;
  justify-content: space-between;
  color: #fefefe;
  padding-top: 110px;
}
.footer-p {
  color: #fefefe;
  margin-bottom: 5px;
}
.footer-p-copyright {
  margin-bottom: 5px;
  color: #bdbdbd;
}
.footer-left {
  width: 50%;
}
.footer-list-left {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.footer-contact-list {
  margin-top: 57px;
  margin-bottom: 35px;
}
.footer-contact {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}
.footer-contact:hover {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}
.footer-form {
  display: flex;
  flex-direction: column;
}
.footer-form-input {
  background: #333333;
  border-bottom: 0.5px solid #fefefe;
  color: #e0e0e0;
  width: 383px;
  height: 26px;
  margin-bottom: 20px;
}
.checkbox-form {
  display: flex;
  margin-bottom: 20px;
}
.checkbox-form-span {
  margin-left: 10px;
}
.footer-form-submit {
  color: #e0e0e0;
  width: 383px;
  height: 26px;
}
.footer-center {
  display: flex;
  flex-direction: column;
}
.footer-center-nav {
  display: flex;
}
.footer-center-list {
  margin-right: 122px;
}
.footer-center-link {
  font-weight: 500;
  color: #fefefe;
}
.footer-center-link:hover {
  font-weight: 500;
  color: #fefefe;
}
.footer-center-p {
  margin-top: 74px;
}
.footer-center-p-first {
  font-weight: 900;
  text-transform: uppercase;
  color: #fefefe;
  margin-bottom: 35px;
}
.footer-center-p-list {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fefefe;
}
.footer-media {
  display: flex;
  margin-bottom: 115px;
}
.footer-media-list {
  margin-right: 15px;
}
.footer-btn {
  width: 275px;
  font-weight: 500;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #fefefe;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  padding-top: 26px;
  padding-bottom: 26px;
}
